POSTGRES_DB=menispot
POSTGRES_USER=menispot
POSTGRES_PASSWORD=change-this-postgres-password

Jwt__Issuer=DigitalMenu.Api
Jwt__Audience=DigitalMenu.Web
Jwt__Key=change-this-to-a-long-random-secret-with-at-least-32-characters
Jwt__ExpirationMinutes=60

SeedAdmin__Email=admin@admin.com
SeedAdmin__Password=ChangeMe2026!

AllowedOrigins__0=http://167.233.132.92
